* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

.container {
    max-width: 800px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 2px solid red;
}

.container__items {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 20px;
   
}

.container__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}